body {
  background-image: url("icegif-100.gif");
  background-size: cover;
}

#difficultyLevel{
  font-size: 25px;
}

.dificultad-facil {
  color: green; /* Verde para fácil */
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: rgb(0, 39, 3);
}

.dificultad-moderada {
  color: orange; /* Naranja para moderado */
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: rgb(44, 24, 0);
}

.dificultad-dificil {
  color: red; /* Rojo para difícil */
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: rgb(78, 0, 0)
}

.error{
  display: none;
}

.container {
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  text-align: center;
  position: absolute;
  width: 55vh;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(170, 170, 170, 0.68);
  border-radius: 5%;
  padding: 10px;
  font-size: 20px;
}

#text{
    width:25vh;
    height: 3vh;
}

.end-game-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 25px;
}
